/* Default light theme */
:root {
    --background-color: #f0f0f0;
    --link-color: #000000;
    --link-color-visited: #111111;
}

/* Dark theme */
[data-theme="dark"] {
    --background-color: #121212;
    --link-color: #ffffff;
    --link-color-visited: #cccccc;
}

:root {
    --doc-sidebar-width: 20vw !important;
}

[data-theme='dark'] .light-mode-only {
    display: none
}
[data-theme='light'] .dark-mode-only {
    display: none
}

div.redlink a:link {
  color: var(--link-color);
  background-color: transparent;
  text-decoration: none;
}


div.redlink a:visited {
  color: var(--link-color-visited);
  background-color: transparent;
  text-decoration: none;
}



h1 {
  font-family: Arial, monospace;
}

.paper_button{
    background-color: #990000; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
  
img.img-card {
    width: 60%;
}

img.circle {
    width: 8vw;  /* Adjust the size of the image */
    height: 8vw;  /* Adjust the size of the image */
    border-radius: 50%;  /* This creates the circle */
    object-fit: cover;  /* Ensures the image covers the area without being distorted */
}

