/* Default light theme */
:root {
    --background-color: #f0f0f0;
}

/* Dark theme */
[data-theme="dark"] {
    --background-color: #121212;
}

div.redlink a:link {
  color: #990000;
  background-color: transparent;
  text-decoration: none;
}

div.redlink a:visited {
  color: #890000;
  background-color: transparent;
  text-decoration: none;
}


@font-face {
  font-family: customFont;
  src: url(../../static/font/Brutel-Bold.otf);
}


h1 {
  font-family: customFont, monospace;
}

.infobox {
    background-color: var(--background-color); /* Background changes with theme */
    border: 1px solid #d0d0d0; /* Subtle border */
    padding: 15px;
    margin: 15px 0;         /* Space above and below the box */
    border-radius: 5px;     /* Slightly rounded corners */
    display: flex;          
    flex-direction: column; /* Arrange items vertically */ 
    align-items: center;    /* Center horizontally */
    margin: 4vh 0vh 4vw 0vw;
}

div.infobox p {
    font-size: 1em;
}

.button_class{
    background-color: #990000; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.conference-title {
    font-size: 1.8em; /* Increase font size */
    font-weight: bold; /* Make the text bold */ 
      font-family: customFont,  monospace;
}
.authors {
    font-size: 1.4em; /* Increase font size */
    text-align: center;
}
  

/* Custom image table */
table.image-table{
    width: 100%;
    border-collapse: collapse;
}
tr.no-bg {
    border: none;
    background-color: rgba(0,0,0,0) !important;
}
td.centered {
    border: none;
    text-align: center;
    background-color: rgba(0,0,0,0);
    font-size: 20px;
}
td.circle {
    border: none;  /* Explicitly removes any border */
}
img.circle {
    width: 10vw;  /* Adjust the size of the image */
    height: auto;  /* Adjust the size of the image */
    border-radius: 50%;  /* This creates the circle */
    object-fit: cover;  /* Ensures the image covers the area without being distorted */
    display: flex;  /* Removes bottom space/gap */
}

h2 {
    font-family: customFont,  monospace;
}

p {
    font-size: 1.1em;
}

